In [2]:
from matplotlib import pyplot as plt
import pandas as pd

from utils import plot_quantum_state_probabilities

In [9]:
experiment = 'N21_p3_default'

results = pd.read_json(f'experiments/{experiment}/{experiment}_results.jsonl',lines=True)
results['state'] = results['state'].apply(lambda lst: [complex(e) for e in lst])

results.describe()

,N,nx,ny,iter,layers,cost,steps,fidelity
count,100.0,100.0,100.0,100.000000,100.0,100.000000,100.000000,100.000000
mean,21.0,1.0,2.0,49.500000,3.0,45.228341,523.150000,0.623205
std,0.0,0.0,0.0,29.011492,0.0,22.613750,174.164173,0.256530
min,21.0,1.0,2.0,0.000000,3.0,12.340371,111.000000,0.019788
25%,21.0,1.0,2.0,24.750000,3.0,29.300698,403.750000,0.465469
50%,21.0,1.0,2.0,49.500000,3.0,40.631039,509.500000,0.740605
75%,21.0,1.0,2.0,74.250000,3.0,58.080531,680.250000,0.810424
max,21.0,1.0,2.0,99.000000,3.0,120.899452,789.000000,0.934370

In [8]:
experiment = 'N21_p3_default_adaptive'

results = pd.read_json(f'experiments/{experiment}/{experiment}_results.jsonl',lines=True)
results['state'] = results['state'].apply(lambda lst: [complex(e) for e in lst])

results.describe()

,N,nx,ny,iter,layers,cost,steps,fidelity
count,100.0,100.0,100.0,100.000000,100.0,100.000000,100.000000,100.000000
mean,21.0,1.0,2.0,49.500000,3.0,42.786402,561.470000,0.649268
std,0.0,0.0,0.0,29.011492,0.0,22.575523,127.460943,0.235220
min,21.0,1.0,2.0,0.000000,3.0,9.014495,251.000000,0.000403
25%,21.0,1.0,2.0,24.750000,3.0,26.696717,468.750000,0.533277
50%,21.0,1.0,2.0,49.500000,3.0,38.993876,581.500000,0.714894
75%,21.0,1.0,2.0,74.250000,3.0,54.910268,685.500000,0.825177
max,21.0,1.0,2.0,99.000000,3.0,119.208292,731.000000,0.948022

In [10]:
experiment = 'N21_p3_Hp=simp'

results = pd.read_json(f'experiments/{experiment}/{experiment}_results.jsonl',lines=True)
results['state'] = results['state'].apply(lambda lst: [complex(e) for e in lst])

results.describe()

,N,nx,ny,iter,layers,cost,steps,fidelity
count,100.0,100.0,100.0,100.000000,100.0,100.000000,100.000000,100.000000
mean,21.0,1.0,2.0,49.500000,3.0,40.064519,427.080000,0.617845
std,0.0,0.0,0.0,29.011492,0.0,32.512981,167.140761,0.270477
min,21.0,1.0,2.0,0.000000,3.0,2.602512,168.000000,0.107630
25%,21.0,1.0,2.0,24.750000,3.0,5.240320,319.000000,0.383088
50%,21.0,1.0,2.0,49.500000,3.0,36.934468,368.500000,0.699926
75%,21.0,1.0,2.0,74.250000,3.0,63.679998,484.500000,0.865514
max,21.0,1.0,2.0,99.000000,3.0,131.254863,788.000000,0.962994