In [6]:
from matplotlib import pyplot as plt
import pandas as pd

from utils import plot_quantum_state_probabilities

# N = 21

* Factorization: $21 = 3 \times 7$
* Factor simplification: $3 \rightarrow 1,\ 7 \rightarrow 3$
* Binary factors: $1 \rightarrow 1,\ 3 \rightarrow 11$
* Solution: $\ket{111}$

In [2]:
experiment = 'N21_p3_default'

results = pd.read_json(f'experiments/{experiment}/{experiment}_results.jsonl',lines=True)
results['state'] = results['state'].apply(lambda lst: [complex(e) for e in lst])

results.describe()

,N,nx,ny,iter,layers,cost,steps,fidelity
count,100.0,100.0,100.0,100.000000,100.0,100.000000,100.000000,100.000000
mean,21.0,1.0,2.0,49.500000,3.0,42.786402,561.470000,0.649268
std,0.0,0.0,0.0,29.011492,0.0,22.575523,127.460943,0.235220
min,21.0,1.0,2.0,0.000000,3.0,9.014495,251.000000,0.000403
25%,21.0,1.0,2.0,24.750000,3.0,26.696717,468.750000,0.533277
50%,21.0,1.0,2.0,49.500000,3.0,38.993876,581.500000,0.714894
75%,21.0,1.0,2.0,74.250000,3.0,54.910268,685.500000,0.825177
max,21.0,1.0,2.0,99.000000,3.0,119.208292,731.000000,0.948022

In [3]:
experiment = 'N21_p3_Hp=simp'

results = pd.read_json(f'experiments/{experiment}/{experiment}_results.jsonl',lines=True)
results['state'] = results['state'].apply(lambda lst: [complex(e) for e in lst])

results.describe()

,N,nx,ny,iter,layers,cost,steps,fidelity
count,100.0,100.0,100.0,100.000000,100.0,100.000000,100.000000,100.000000
mean,21.0,1.0,2.0,49.500000,3.0,40.064519,427.080000,0.617845
std,0.0,0.0,0.0,29.011492,0.0,32.512981,167.140761,0.270477
min,21.0,1.0,2.0,0.000000,3.0,2.602512,168.000000,0.107630
25%,21.0,1.0,2.0,24.750000,3.0,5.240320,319.000000,0.383088
50%,21.0,1.0,2.0,49.500000,3.0,36.934468,368.500000,0.699926
75%,21.0,1.0,2.0,74.250000,3.0,63.679998,484.500000,0.865514
max,21.0,1.0,2.0,99.000000,3.0,131.254863,788.000000,0.962994

In [5]:
experiment = 'N21_p3_Hp=simp_Hc=simp-abs'

results = pd.read_json(f'experiments/{experiment}/{experiment}_results.jsonl',lines=True)
results['state'] = results['state'].apply(lambda lst: [complex(e) for e in lst])

results.describe()

,N,nx,ny,iter,layers,cost,steps,fidelity
count,100.0,100.0,100.0,100.000000,100.0,100.000000,100.000000,100.000000
mean,21.0,1.0,2.0,49.500000,3.0,2.809353,410.450000,0.752368
std,0.0,0.0,0.0,29.011492,0.0,1.967747,151.097224,0.171744
min,21.0,1.0,2.0,0.000000,3.0,0.313016,202.000000,0.171322
25%,21.0,1.0,2.0,24.750000,3.0,1.066510,298.750000,0.640106
50%,21.0,1.0,2.0,49.500000,3.0,2.574097,372.000000,0.813224
75%,21.0,1.0,2.0,74.250000,3.0,3.853060,476.250000,0.884776
max,21.0,1.0,2.0,99.000000,3.0,8.919424,788.000000,0.970616

In [2]:
experiment = 'N21_p3_Hp=simp_Hc=simp-pow2'

results = pd.read_json(f'experiments/{experiment}/{experiment}_results.jsonl',lines=True)
results['state'] = results['state'].apply(lambda lst: [complex(e) for e in lst])

results.describe()

,N,nx,ny,iter,layers,cost,steps,fidelity
count,100.0,100.0,100.0,100.000000,100.0,100.000000,100.000000,100.000000
mean,21.0,1.0,2.0,49.500000,3.0,10.902474,429.130000,0.752049
std,0.0,0.0,0.0,29.011492,0.0,14.497528,158.317074,0.175111
min,21.0,1.0,2.0,0.000000,3.0,0.051738,182.000000,0.138548
25%,21.0,1.0,2.0,24.750000,3.0,0.683918,314.250000,0.656987
50%,21.0,1.0,2.0,49.500000,3.0,5.425770,393.500000,0.816029
75%,21.0,1.0,2.0,74.250000,3.0,15.383425,516.000000,0.883713
max,21.0,1.0,2.0,99.000000,3.0,80.960894,775.000000,0.976926

In [8]:
experiment = 'N21_p4_default'

results = pd.read_json(f'experiments/{experiment}/{experiment}_results.jsonl',lines=True)
results['state'] = results['state'].apply(lambda lst: [complex(e) for e in lst])

results.describe()

,N,nx,ny,iter,layers,cost,steps,fidelity
count,100.0,100.0,100.0,100.000000,100.0,100.000000,100.000000,100.000000
mean,21.0,1.0,2.0,49.500000,4.0,27.611492,914.840000,0.718949
std,0.0,0.0,0.0,29.011492,0.0,13.716793,107.466576,0.217415
min,21.0,1.0,2.0,0.000000,4.0,5.581374,505.000000,0.066074
25%,21.0,1.0,2.0,24.750000,4.0,16.265425,919.000000,0.625242
50%,21.0,1.0,2.0,49.500000,4.0,25.275147,958.500000,0.788979
75%,21.0,1.0,2.0,74.250000,4.0,36.499038,975.000000,0.879723
max,21.0,1.0,2.0,99.000000,4.0,63.692161,1021.000000,0.963403

In [9]:
experiment = 'N21_p4_Hp=simp_Hc=simp-abs'

results = pd.read_json(f'experiments/{experiment}/{experiment}_results.jsonl',lines=True)
results['state'] = results['state'].apply(lambda lst: [complex(e) for e in lst])

results.describe()

,N,nx,ny,iter,layers,cost,steps,fidelity
count,100.0,100.0,100.0,100.000000,100.0,100.000000,100.000000,100.000000
mean,21.0,1.0,2.0,49.500000,4.0,1.687482,753.210000,0.838910
std,0.0,0.0,0.0,29.011492,0.0,1.339449,213.167326,0.145285
min,21.0,1.0,2.0,0.000000,4.0,0.072483,311.000000,0.306216
25%,21.0,1.0,2.0,24.750000,4.0,0.583277,583.750000,0.802011
50%,21.0,1.0,2.0,49.500000,4.0,1.238863,763.500000,0.886622
75%,21.0,1.0,2.0,74.250000,4.0,2.637134,917.250000,0.934780
max,21.0,1.0,2.0,99.000000,4.0,5.824405,1105.000000,0.995088

# N = 15

* Factorization: $15 = 3 \times 5$
* Factor simplification: $3 \rightarrow 1,\ 5 \rightarrow 2$
* Binary factors: $1 \rightarrow 1,\ 2 \rightarrow 10$
* Solution: $\ket{110}$ and $\ket{101}$

In [5]:
experiment = 'N15_p3_default'

results = pd.read_json(f'experiments/{experiment}/{experiment}_results.jsonl',lines=True)
results['state'] = results['state'].apply(lambda lst: [complex(e) for e in lst])

results.describe()

,N,nx,ny,iter,layers,cost,steps,fidelity
count,100.0,100.0,100.0,100.000000,100.0,100.000000,100.000000,100.000000
mean,15.0,1.0,2.0,49.500000,3.0,25.941623,518.410000,0.522506
std,0.0,0.0,0.0,29.011492,0.0,10.477559,136.339082,0.209637
min,15.0,1.0,2.0,0.000000,3.0,2.381588,211.000000,0.046313
25%,15.0,1.0,2.0,24.750000,3.0,18.674900,408.500000,0.371629
50%,15.0,1.0,2.0,49.500000,3.0,25.699212,507.500000,0.499317
75%,15.0,1.0,2.0,74.250000,3.0,33.625551,625.500000,0.669248
max,15.0,1.0,2.0,99.000000,3.0,54.830559,759.000000,0.972474